@page
@model SigninModel

@{
    ViewData["Title"] = "Авторизация";
}

@{
    ViewBag.BreadCrumbs = new List<BreadCrumb>()
    {
        new BreadCrumb("Главная страница", "/", true),
        new BreadCrumb(ViewBag.Title, "/signin", false)
    };
}

@ViewBag.Errors

<div class="container d-flex ml-auto mr-auto">
    <form method="post" class="d-flex sign-form ml-auto mr-auto" style="flex-direction: column;">
        <div class="image-logo ml-auto mr-auto d-flex">
            <a href="/"><img src="~/images/logos/logo-45x45.png" alt="Logo"></a>
        </div>
        <div class="form-floating">
            <label for="email">Почта</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="name@example.com">
        </div>
        <div class="form-floating">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="Password" placeholder="Пароль">
        </div>
        <div class="checkbox mb-3">
            <label for="remember">Запомнить меня</label>
            <input type="checkbox" name="RememberMe" id="remember" value="true">
        </div>
        <div class="sign-up-text">
            Еще нет акаунта или забыли пароль? 
            <br />
            <a href="/authentication/signup">зарегистрироваться</a> /
            <a href="/authentication/resetpas">сбросить пароль</a>
        </div>
        <div class="sign-in-list">
            <ul class="sign-in-items">
                <li><a href=""></a></li>
            </ul>
        </div>
        <button type="submit" class="w-100 btn fill-btn login-btn-w">Войти</button>
  </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}