@page
@model SigninModel

@{
    ViewData["Title"] = "Авторизация";
}

@{
    ViewBag.BreadCrumbs = new List<BreadCrumb>()
    {
        new BreadCrumb("Главная страница", "/", true),
        new BreadCrumb(ViewBag.Title, "/signin", false)
    };
}

@ViewBag.Errors

<div class="container d-flex ml-auto mr-auto">
    <form method="post" class="d-flex sign-form ml-auto mr-auto" style="flex-direction: column;">
        <h5 class="ml-auto mr-auto" style="position: absolute;">Test User Email: test@gmail.com Password: test_1</h5>
        <div class="image-logo ml-auto mr-auto d-flex">
            <a href="/"><img src="~/images/logos/logo-85x85.png" alt="Logo"></a>
        </div>
        <div class="form-floating">
            <label for="email">Почта</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="name@example.com">
        </div>
        <div class="form-floating">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="Password" placeholder="Пароль">
        </div>
        <div class="checkbox mb-3 sign-up-text">
            <div class="ii-3">
                <label class="check-label">
                    Запомнить меня
                    <input class="checkbox-io" type="checkbox" name="RememberMe" id="remember" value="true">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="uu-3">
                Еще нет акаунта или забыли пароль? 
                <br />
                <a href="/authentication/signup">зарегистрироваться</a> /
                <a href="/authentication/resetpas">сбросить пароль</a>
            </div>
            
        </div>
        <div class="sign-in-list">
            <div class="sign-in-box google">
                <a href=""><img src="~/images/icons/google.png" alt=""></a>
            </div>
            <div class="sign-in-box facebook">
                <a href=""><img src="~/images/icons/facebook.png" alt=""></a>
            </div>
            <div class="sign-in-box instagram">
                <a href=""><img src="~/images/icons/instagram.png" alt=""></a>
            </div>
            <div class="sign-in-box github">
                <a href=""><img src="~/images/icons/github.png" alt=""></a>
            </div>
        </div>
        <div class="ml-auto mr-auto">
            <button type="submit" class="w-100 btn fill-btn login-btn-w">Войти</button>
        </div>
  </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}