<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mint</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media.css">
    <link rel="stylesheet" href="~/lib/fonts/Lora/Lora-Regular.ttf" asp-append-version="true">
</head>
<body>
    <header class="header">
        <div class="top d-flex">
            <div class="container d-flex ml-auto mr-auto" style="height: 30px;">
                <ul class="top-list">
                    <li class="top-list-item p-relative">
                        <div class="top-list-menu-link">
                            <div class="city-select d-flex">
                                <div class="city-select-label">
                                    <span class="location-ico svg-ico d-flex p-relative"></span>
                                    <p class="cuttent-city">Новокузнецк</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="top-list-item">
                        <a class="header-top-link d-flex" href="/">
                            <div class="header-top-shop d-flex">
                                <span class="header-top-shop-ico svg-ico d-flex"></span>
                                <p class="header-shop-text">Магазины</p>
                            </div>
                        </a>
                    </li>
                    <li class="top-list-item p-relative">
                        <button class="header-top-link drop-down-menu" id="activeDropDownMenu">
                            Покупателям
                            <span  class="header-top-dropdown-ico svg-ico d-flex"></span>
                        </button>
                        <div class="header-top-child-list" id="menuList">
                            <a class="buyer-content" href="/">Как оформить заказ</a>
                            <a class="buyer-content" href="/">Доставка</a>
                            <a class="buyer-content" href="/">Способы оплаты</a>
                            <a class="buyer-content" href="/">Бонусная программа</a>
                            <a class="buyer-content" href="/">Узнать статус заказа</a>
                        </div>
                    </li>
                </ul>
                <ul class="header-top-phone-menu">
                    <li class="header-top-info">
                        <div class="header-top-phone">
                            <span class="header-top-phone-ico svg-ico d-flex"></span>
                            <p class="header-top-phone-text">+7 (987)-654-32-10</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom d-flex">
            <div class="container d-flex ml-auto mr-auto">
                <div class="logo-box p-relative">
                    <a href="/" class="logo-link"><img src="~/images/logos/logo-45x45.png" alt="Logo" class="logo"></a>
                </div>
                <div class="category-box">
                    <div class="category-menu" id="categoryMenu">
                        <button class="btn fill-btn category-btn d-flex">
                            Каталог
                            <span class="svg-ico category-ico p-relative d-flex"></span>
                        </button>
                    </div>
                </div>
                <div class="search-box">
                    <div class="search-text">
                        <input type="text" class="form-search" name="search" id="search" placeholder="Поиск..." />
                        <button type="submit" class="search-btn btn">
                            <span class="search-ico svg-ico d-flex"></span>
                        </button>
                    </div>
                </div>
                <div class="content-box">
                    <div class="compare-box">
                        <div class="compare-png png-ico compare-popover">
                            <div class="box compare">
                                <h3 class="h3 compare-text al-te">Сравнение</h3>
                                <h5 class="h5 compare-desc al-de">
                                    Сравните товары по характеристикам! Начните свой выбор с каталога товаров 
                                    или воспользуйтесь поиском, если ищете что-
                                    то конкретное.
                                </h5>
                                <a href="/" class="btn outlined-btn open-category">Перейти в Каталог</a>
                            </div>
                        </div>
                    </div>
                    <div class="likes-box">
                        <div class="likes-png png-ico likes-popover">
                            <div class="box likes">
                                <h3 class="h3 like-text al-te">Избранное</h3>
                                <h5 class="h5 like-desc al-de">
                                    <a href="/authentication/signin" class="link-sign">Войдите,</a>
                                    если уже добавляли товары в своем аккаунте 
                                    или добавьте новые из каталога
                                </h5>
                                <a href="/" class="btn outlined-btn open-category">Перейти в Каталог</a>
                            </div>
                        </div>
                    </div>
                    <div class="cart-box">
                        <div class="cart-png png-ico cart-popover">
                            <div class="box cart">
                                <h3 class="h3 cart-text al-te">Корзина</h3>
                                <h5 class="h5 cart-desc al-de">
                                    В вашей корзине пусто?
                                    Это не страшно!
                                </h5>
                                <a href="/" class="btn outlined-btn open-category">Перейти к Покупкам</a>
                            </div>
                        </div>
                    </div>
                    <div class="sign-in-box">
                        @if (Context.IsAuthenticated())
                        {
                            <div class="">

                            </div>

                            <a href="/adminpanel">Admin</a>
                        }
                        else
                        {
                            <div class="sign-in-png png-ico sign-popover">
                                <div class="box sign-in">
                                    <a href="/authentication/signin" class="btn outlined-btn sign-in-btn">Войти</a>
                                    <a href="/authentication/signup" class="btn outlined-btn sign-up-btn">Зарегистрироваться</a>
                                    <hr class="hr">
                                    <a href="/" class="btn fill-btn order-status">Статус заказа</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main" class="main d-flex flex-nowrap">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            &copy; 2022 - Mint - <a href="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/requests.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>