:root {
    --m-background: #FEFFEF;
    --m-mint-back: #00A99D;
    --m-black-color: #505050;
    --m-sale-text-color: #808080;
    --m-red-color: #EA3B3B;
    --m-blue-color: #35B6FF;
    --m-light-red-color: #FF7971;
    --m-fs-twelve: 12;
    --m-fs-forteen: 14;
    --m-fs-sixteen: 16;
    --m-fs-eighteen: 18;
    --m-fs-twenty-two: 22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: var(--m-background);
}

input,
button {
    outline: none;
}

input:focus {
    border: 1px solid var(--m-mint-back);
    box-shadow: 0 0 0 4px rgba(17, 206, 159, 0.25);
}

.container {
    width: 1180px;
    max-width: 1180px;
}

.mr-auto,
.ml-auto {
    margin-right: auto;
    margin-left: auto;
}

.main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.d-flex {
    display: flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.top {
    height: 30px;
    background-color: var(--m-mint-back);
}

.top-list {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0 auto 0 0;
    padding: 0;
}

.location-ico::before {
    background-image: url(../images/icons/location.svg);
}

.header-top-shop-ico::before {
    background-image: url(../images/icons/storefront.svg);
}

.header-top-dropdown-ico::before {
    background-image: url(../images/icons/expand.svg);
}

.svg-ico::before {
    content: '';
    background-size: 25px 25px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    text-transform: none;
    width: 25px;
    height: 25px;
}

.top-menu-link {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 100;
}

.top-list-menu-link {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    padding-left: 0px;
    text-decoration: none;
    font-weight: 100;
}

.city-select {
    align-items: baseline;
}

.city-select-label {
    width: 100%;
    align-items: center;
    display: flex;
    min-height: 100%;
}

.cuttent-city,
.header-top-phone-text {
    font-size: var(--m-fs-sixteen);
    color: #FFF;
}

.header-shop-text {
    color: #FFF;
}

.header-top-link {
    color: #FFF;
    cursor: pointer;
    display: flex;
    line-height: 30px;
    padding-left: 35px;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    align-items: center;
    font-size: var(--m-fs-sixteen);
}

.header-top-shop {
    align-items: baseline;
    min-height: 32px;
    width: 100%;
    align-items: center;
    min-height: 100%;
}

.header-top-shop-ico {
    height: 25px;
}

.header-top-child-list {
    display: none;
    background: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
    border-top-color: #DDD;
    left: 0;
    width: 173px;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 999;
}

.buyer-content {
    color: var(--m-black-color);
    display: block;
    padding: 0 15px;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    padding-left: 15px;
    text-decoration: none;
}

.header-top-dropdown-ico {
    transform: rotate(0);
    transition: .3s ease-out;
}

.header-top-dropdown-ico-active {
    transform: rotate(180deg);
    transition: .3s ease-out;
}

.menu-dropdown-childs-active {
    display: block;
}

.header-top-child-list::before,
.header-top-child-list::after {
    border-color: transparent transparent #DDD;
    border-style: solid;
    border-width: 10px 15px;
    content: "\A";
    left: calc(50% - 15px);
    position: absolute;
    top: -20px;
}

.buyer-content {
    color: var(--m-black-color);
    display: block;
    padding: 0 15px;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    padding-left: 15px;
    text-decoration: none;
}

.buyer-content:hover {
    background-color: #EBEBEB;
}

.bottom {
    height: 60px;
    left: 0px;
    top: 30px;
    background: var(--m-background);
    box-shadow: 0px 5px 7px rgb(0 0 0 / 25%);
}

.header-top-phone-menu {
    display: flex;
    line-height: 33px;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.header-top-phone {
    height: 0px;
    width: 100%;
    align-items: center;
    display: flex;
    min-height: 100%;
}

.header-top-phone-ico::before {
    height: 25px;   
    background-image: url(../images/icons/call.svg);
}

.loader::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*  Header - 2  */

.p-relative {
    position: relative;
}

.logo-link {
    display: inline-block;
    margin: 5px 30px 0px 0px;
}

.category-menu {
    margin: 10px 30px 0px 0px;
}

.category-ico::before {
    margin-left: 5px;
    background-image: url(../images/icons/category.svg);
}

.btn {
    border: 0;
    outline: none;
    border-radius: 10px;
}

.fill-btn {
    width: 120px;
    height: 35px;
    background: #0BAA9D;
}

.category-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: var(--m-fs-eighteen);
    color: #FFF;
}

.search-text {
    position: relative;
    margin: 10px 30px 0px 0px;
}

.form-search {
    height: 35px;
    width: 650px;
    border-radius: 8px;
    outline: none;
    color: var(--m-black-color);
    padding: 0px 10px;
    font-size: var(--m-fs-sixteen);
    background: #FFFFFF;
    border: 1px solid var(--m-mint-back);
    transition: border-color .15s 
        ease-in-out,box-shadow .15s ease-in-out;
}

.search-btn {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    right: 10px;
    top: 5px;
}

.search-ico::before {
    background-image: url(../images/icons/search.png);
}

.png-ico::before {
    content: '';
    background-size: 40px 40px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    text-transform: none;
    width: 40px;
    height: 40px;
}

.compare-png::before {
    background-image: url(../images/icons/compare.png);
}

.likes-png::before {
    background-image: url(../images/icons/like.png);
}

.cart-png::before {
    background-image: url(../images/icons/cart.png);
}

.sign-in-png::before {
    background-image: url(../images/icons/user.png);
}

.content-box {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.compare-popover,
.likes-popover,
.cart-popover,
.sign-popover {
    position: relative;
    display: inline-block;
}

.compare-popover .box,
.likes-popover .box,
.cart-popover .box,
.sign-popover .box {
    position: absolute;
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color: #FFF;
    color: var(--m-black-color);
    right: 0;
    border-radius: 10px;
    padding: 10px;
    transition: .1s ease-in;
    box-shadow: 0px 5px 6px -4px rgb(0 0 0 / 50%);
    z-index: 999;
}

.compare-popover .box::after,
.cart-popover .box::after,
.likes-popover .box::after,
.sign-popover .box::after {
    content: "";
    position: absolute;
    width: 100px;
}

.compare-popover:hover .box,
.likes-popover:hover .box,
.cart-popover:hover .box,
.sign-popover:hover .box {
    visibility: visible;
}

.h3 {
    font-size: var(--m-fs-eighteen);
}

.al-te {
    margin-top: 5px;
    margin-bottom: 20px;
}

.al-de {
    color: var(--m-sale-text-color);
    margin-top: 10px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}

.open-category {
    margin-top: 20px;
    bottom: 20px;
    border: 2px solid var(--m-mint-back);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--m-mint-back);
    text-decoration: none;
}

.like-desc {
    margin-top: 30px;
    margin-bottom: 30px;
}

.compare-desc {
    margin-top: 25px;
    margin-bottom: 20px;
}

.cart-desc {
    margin-top: 55px;
}

.open-category:hover {
    background-color: var(--m-mint-back);
    color: #FFF;
    transition: .3s ease-in-out;
}

.link-sign {
    color: var(--m-mint-back);
}

.hr {
    width: 90%;
    border: 1px solid var(--m-sale-text-color);
    margin: 20px auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

.order-status {
    color: #FFF;
    text-decoration: none;
    height: 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 7px;
}

.sign-in-btn,
.sign-up-btn {
    margin-top: 0px;
    bottom: 20px;
    border: 2px solid var(--m-mint-back);
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--m-mint-back);
    text-decoration: none;
}

.sign-in-btn:hover,
.sign-up-btn:hover {
    background-color: var(--m-mint-back);
    color: #FFF;
    transition: .3s ease-in-out;
}

.sign-up-btn {
    margin-top: 10px;
}

.user-profile {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-gray);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #151515;
    cursor: pointer;
}

.user-profile > img {
    width: 40px;
    height: 40px;
}

.signed-user-func {
    display: none;
    background: #FFF;
    border-top: 2px solid var(--m-mint-back);
    border-radius: 0px;
    left: -67px;
    top: 50px;
    width: 173px;
    padding: 0;
    position: absolute;
    text-align: left;
    z-index: 999;
}

.signed-user-func::before, 
.signed-user-func::after {
    border-color: transparent transparent var(--m-mint-back);
    border-style: solid;
    border-width: 10px 15px;
    content: "\A";
    left: calc(50% - 15px);
    position: absolute;
    top: -20px;
}

.signed-user-func > a {
    display: flex;
    padding: 5px 5px;
    margin: 10px 0;
    align-items: center;
}

.signed-user-func > a:hover {
    background-color: #E7E7E7;
}

.signed-user-func > a {
    color: var(--m-black-color);
    text-decoration: none;
    margin-left: 5px;
}

.signed-user-func > a::before {
    content: '';
    background-image: url(../images/icons/search.png);
    background-size: 25px 25px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1;
    text-transform: none;
    width: 25px;
    height: 25px;
}

.signed-user-func-active {
    display: block;
}

/* Sign In Page */

.sign-form {
    width: 600px;
    height: 500px;
    margin: 30px auto;
    background: #feffef;
    box-shadow: 4px 6px 7px rgb(0 0 0 / 48%);
    border-radius: 10px;
}

.image-logo {
    margin-top: 20px;
}

/* Custom check box */

.check-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--m-mint-back);
}

.check-label:hover input ~ .checkmark {
    background-color: var(--m-mint-back);
}

.check-label input:checked ~ .checkmark {
    background-color: var(--m-mint-back);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-label input:checked ~ .checkmark:after {
    display: block;
}

.check-label .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-btn-w {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
    width: 200px;
    transition: border-color .15s 
        ease-in-out,box-shadow .15s ease-in-out;
}

.login-btn-w:hover {
    background-color: #058b7f;
}

.login-btn-w:focus {
    box-shadow: 0 0 0 4px rgba(17, 206, 159, 0.25);
}

/* .login-btn-w::before {
    content: '';
    background-image: url(../images/icons/sign-in.svg);
    background-size: 25px 25px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1;
    text-transform: none;
    width: 25px;
    height: 25px;
} */

.loader {
    margin-top: 1px;
    display: inline-block;
}

.form-control {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: var(--m-fs-forteen);
    line-height: 1;
    color: var(--m-black-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--m-mint-back);
    border-radius: 10px;
    transition: border-color .15s 
        ease-in-out,box-shadow .15s ease-in-out;
}

.form-floating {
    padding: 10px;
}

.sign-up-text {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-in-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 0;
    padding: 10px;
}

/* Content */

.breadcrumb-item > a {
    color: var(--m-black-color); 
    text-decoration: none; 
    border-bottom: 1px solid;
}

.breadcrumb-item {
    color: #757575;
    margin-right: 5px;
    margin-left: 5px;
}

input:read-only {
    background-color: #efefef;
}

/* Mobile Menu */

.mobile-menu {
    display: none;
}

.mobile-menu {
    width: 100%;
    height: 60px;
    background: #feffef;
    box-shadow: 0px -1px 7px rgb(0 0 0 / 48%);
    bottom: 0;
    position: fixed;
    justify-content: space-around;
    align-items: center;
}

.mobile-menu > div > a {
    display: block;
}

.mobile-box-active > a > svg {
    fill: var(--m-mint-back);
}