@page
@model IndexModel
@{

}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ico</th>
        </tr>
    </thead>
@foreach (var category in Model.Categories)
{
    
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@category.Name</td>
        </tr>
    </tbody>
}
</table>
